@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 style="color:grey" class="display-4">Welcome</h1>
    <p style="font-size:22px">Welcome to our school chat website, Discipulus!

Are you looking for a convenient and secure platform to connect with your classmates and teachers? Discipulus is here to help. Our website is specifically designed for students and teachers at Discipulus and offers a range of features to facilitate communication and collaboration.

With Discipulus, you can easily participate in class discussions, work on group projects and join extracurricular clubs.</p>
    
</div>
    
